@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
	background: rgb(2,212,213);
	background: radial-gradient(circle, rgba(2,212,213,1) 0%, rgb(0, 125, 157) 100%);
	font-family: 'Poppins', sans-serif;
	margin: 0;
}

header {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	background-color: lightgoldenrodyellow
}

header h1 {
	line-height: 1em;
	color: darkcyan;
	text-align: left;
	padding: 0 2em;
	font-size: 1.5em;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 1em;
	overflow: hidden;
	background-color: rgb(100, 128, 128);
	display: flex;
	justify-content: flex-end; 
  }
  
nav li {
	display: inline;
	margin: 0 1em;
  }

nav a {
	color: white;
}

nav a:hover {
	color: lightsalmon;
}
nav a:active {
	color: lightgreen;
}

.fishTank {
	margin: 1em;
	display: flex;
	justify-content: space-evenly;
}

.fishList {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;	
}

.locationInfo {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.location-card {
	background-color: peachpuff;
	border: 1px solid #007d9d;
	border-radius: 4px;
	margin: .5em;
	max-width: 150px;
	flex-basis: 0;
	flex-grow: 1;
	justify-content: space-around;
	padding: .5em;
}

.fish-card {
	background-color: #b2ebf2;
	border: 1px solid #007d9d;
	margin: .5em;
	max-width: 175px;
	border-radius: 4px;
	padding: .5em;
}

.tip-card {
	border: 1px solid #ffffff;
	background-color: hsl(192, 100%, 31%);
	color: #ffffff;
	margin: .5em;
	max-width: 200px;
	padding: .5em;
	border-radius: 4px;
}

.tip-card ul, .fish-card ul, .location-card ul {
	list-style-type:none;
	padding: .5em;
	margin: .2em;
	font-size: .8em;
}

.fish-image {
	width: 100%;
	height: auto;
	border-radius: 4px;
}

.section-main {
	margin: 1em;
}

.locationPane {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
}

footer {
	background-color: darkcyan;
	color: whitesmoke;
	text-align: center;
}